<section id="register-account">
    <h1 class=" form__title">Register</h1>

    <form id="registerForm" class="form" action="/auth/register" method="POST">
        <fieldset class="form__fieldset">
            <label for="username" class="form__label">
                Username
                <span class="form__required">*</span>
            </label>
            <input type="text" placeholder="Username" autocomplete="username" class="form__input" name="username"
                id="username" required aria-required="true" aria-label="Username" />
        </fieldset>
        <div class="form__fieldset">
            <label for="email" class="form__label">
                Email
                <span class="form__required">*</span>
            </label>
            <input type="email" placeholder="contact@example.com" autocomplete="email" class="form__input" name="email"
                id="email" required aria-required="true" aria-label="Email" />
        </div>

        <fieldset class="form__fieldset">
            <label for="password" class="form__label">
                Password
                <span class="form__required">*</span>
            </label>
            <input type="password" placeholder="ex: 123456" autocomplete="new-password" class="form__input"
                name="password" id="password" required aria-required="true" aria-label="Password" />
        </fieldset>

        <div class="form__group">
            <button type="submit" class="form__submit" name="registerButton" id="registerButton" aria-label="Sign Up">
                Sign Up
            </button>
            <% if (error) { %>
            <span id="error-message" role="alert" aria-label="<%= error %>"
                class="form__error-message"><%= error %></span>
            <% } %>
        </div>
    </form>

    <p class="form__footer-description">Already have an account? <a href="/auth/login" class="form__link">Login</a></p>


</section>
<script nonce="<%= nonce %>">
    document.addEventListener('DOMContentLoaded', () => {
        const formEl = document.getElementById("registerForm");
        const buttonEl = document.getElementById("registerButton");

        formEl.addEventListener("submit", function() {
            buttonEl.disabled = true;
            buttonEl.textContent = "Registering...";
        });
    });
</script>