.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Dashboard Navigation */
.dashboard__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--color-5);
}

.dashboard__navigation__list {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard__navigation__list li {
    display: inline-block;
}

.dashboard__navigation__list__link {
    display: block;
    line-height: 0;
    color: var(--color-1);
    padding: 2rem 1rem;
    text-transform: uppercase;
}

.dashboard__navigation__list__link:hover {
    color: var(--color-5);
    background-color: var(--color-3);
}

/* Dashboard Content */
.dashboard__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.dashboard__content__posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboard__content__posts__title::before {
    content: "█ ";
}

.dashboard__content__posts__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-1);
}

/* Dashboard Posts */
.dashboard__content__posts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.dashboard__content__posts__list-item {
    padding-block: 1.2rem;
    border-top: 0.125rem solid var(--color-3);
    border-bottom: 0.125rem solid var(--color-3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard__content__posts__list-item__link {
    color: var(--color-1);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Dashboard Empty */
.dashboard__content__posts__empty {
    padding-block: 1.2rem;
    border-top: 0.125rem solid var(--color-3);
    border-bottom: 0.125rem solid var(--color-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard__content__posts__empty-text {
    font-size: 2rem;
    color: var(--color-1);
}

.dashboard__content__posts__empty-link:hover,
.dashboard__content__posts__list-item__link:hover,
.dashboard__content__edit-profile__link:hover {
    background-color: var(--color-1);
    color: var(--color-5);
}

/* Dashboard User Profile */
.dashboard__content__user-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard__content__user-profile__title::before {
    content: "█ ";
}

.dashboard__content__user-profile__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-1);
}

.dashboard__content__user-profile__details {
    display: flex;
    gap: 1rem;
}

.dashboard__content__user-profile__details__label {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-1);
}

.dashboard__content__user-profile__details__value {
    font-size: 1.8rem;
    color: var(--color-1);
}

/* Media Queries */
@media screen and (max-width: 480px) {
    /* Dashboard Navigation */
    .dashboard__navigation__list {
        flex-direction: column;
        gap: 1rem;
    }

    /* Dashboard Post List */
    .dashboard__content__posts__list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .dashboard__content__posts__list-item {
        border: none;
        padding-block: 0;
    }

    .dashboard__content__posts__list-item:first-child {
        border-top: 0.125rem solid var(--color-3);
        border-bottom: 0.125rem solid var(--color-3);
        padding-top: 1.2rem;
        padding-bottom: 2rem;
    }

    .dashboard__content__posts__list-item:last-child {
        border-bottom: 0.125rem solid var(--color-3);
        padding-bottom: 1.2rem;
    }

    /* Dashboard User Profile */
    .dashboard__content__user-profile__details {
        flex-direction: column;
        gap: 1rem;
        word-wrap: break-word;
        border-bottom: 0.125rem solid var(--color-4);
        padding-bottom: 1.2rem;
    }
}
