.dashboard__navigation {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--color-5);
}

.dashboard__navigation__list {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard__navigation__list li {
    display: inline-block;
}

.navigation__list__link {
    display: block;
    line-height: 0;
    color: var(--color-1);
    padding: 2rem 1rem;
    text-transform: uppercase;
}

.navigation__list__link:hover {
    color: var(--color-5);
    background-color: var(--color-3);
}
