.login-account__title {
    font-size: 3.6rem;
    color: var(--color-1);
    margin-bottom: 2rem;
}

.login-account__rendered-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-account__rendered-form label {
    display: block;
    margin-bottom: 0.5rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    cursor: default;
}

.login-account__rendered-form label:hover {
    background-color: var(--color-1);
    color: var(--color-5);
}

.register-account__formbuilder-required,
.login-account__formbuilder-required {
    color: var(--color-7);
    font-size: 1.6rem;
}

.login-account__input-username,
.login-account__input-password {
    width: 100%;
    padding: 0.75rem;
    border: 0.125rem solid var(--color-4);
    border-radius: 0.3rem;
    font-family: monospace;
    font-size: 1.4rem;
}

.login-account__input-username:focus,
.login-account__input-password:focus {
    border-color: var(--color-5);
    outline: none;
}

.login-account__button-submit {
    position: relative;
    background: var(--color-6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.125rem solid var(--color-1);
    border-radius: 0.3rem;
    color: var(--color-1);
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 0;
    padding: 2rem 4rem;
    text-align: left;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
}

.login-account__button-submit:not(:disabled):hover {
    background-color: var(--color-1);
    color: var(--color-5);
    transform: scale(1.05);
}

.login-account__button-submit:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
}

.login-account__button-submit:focus {
    outline: 0 solid transparent;
}

.login-account__register {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.login-account__register-link {
    color: var(--color-4);
    text-decoration: none;
    cursor: pointer;
}

.login-account__register-link:hover {
    background-color: var(--color-1);
    color: var(--color-5);
    text-decoration: underline;
}
