/* Post header */
.post__header {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.post__info-title::before {
    content: "█ ";
}

.post__info-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-primary);
}

.post__info-author {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.4rem;
    font-style: italic;
}

.post__header__controls {
    place-self: flex-end;
    text-align: right;
}

.post__info-createdAt {
    display: block;
    color: var(--color-4);
}

.post__info-link {
    display: inline-block;
    color: var(--color-1);
    font-size: 1rem;
    cursor: pointer;
}

.post__info-link:hover {
    color: var(--color-5);
    background-color: var(--color-1);
}

/* Post Content */
.post__content {
    border-top: 0.125rem solid var(--color-3);
    padding-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.post__tags {
    border-top: 0.125rem solid var(--color-3);
    padding-top: 0.5rem;
    margin-top: 1rem;
}

.post__comments {
    margin-top: 2rem;
}
