<section class="error404">
    <h1 class="error404__title">404</h1>
    <div class="error404__description">
        <h2 class="error404__description-subtitle">Look like you're lost.</h2>
        <p class="error404__description-text">This isn't the page you're looking for...</p>
        <a href="/" class="error404__description-link">Go to Home</a>
    </div>
</section>
