<section class="error-page" aria-label="Error Page">
    <h1 class="error-page__title" aria-level="1"><%= statusCode %></h1>
    <div class="error-page__description">
        <h2 class="error-page__description-subtitle">Ops... Something bad happened.</h2>
        <p class="error-page__description-text"><%= message %></p>
        <a href="/" class="error-page__description-link">Go Home</a>
    </div>
</section>