<footer class="footer">
    <div class="footer__container">
        <p class="footer__copy">&copy; <%= currentYear %> - <a class="footer__copy-link"
                href="https://barataribeiro.com/" target="_blank" rel="noopener noreferrer">Barata Ribeiro</a></p>
        <a href="https://github.com/Barata-Ribeiro/barata-ribeiro_blog" target="_blank" rel="noopener noreferrer"
            class="footer__link">
            Repository
        </a>
    </div>
</footer>