<footer class="footer">
    <div class="footer__container">
        <div>
            <p class="footer__copy">&copy; <%= currentYear %> - <a class="footer__copy-link"
                    href="https://barataribeiro.com/" target="_blank" rel="noopener noreferrer">Barata Ribeiro</a></p>
            <a class="footer__copy-link" href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank"
                rel="noopener noreferrer">GPL-3.0 license</a>
        </div>
        <a href="https://github.com/Barata-Ribeiro/barataribeiro_blog" target="_blank" rel="noopener noreferrer"
            class="footer__link">
            Repository
        </a>
    </div>
</footer>