<footer class="footer">
    <div class="footer__container">
        <p class="footer__copy">&copy; <%= currentYear %> - Barata-Ribeiro</p>
        <a
            href="https://github.com/Barata-Ribeiro/barata-ribeiro_blog"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__link"
        >
            Repository
        </a>
    </div>
</footer>
