<header class="header">
    <nav class="header__nav" role="navigation" aria-label="Main Navigation">
        <a href="/" class="header__logo" aria-label="Site logo">&#60;&#47;&#62;</a>

        <%- include('./search.ejs') %>

        <% if (locals.user) { %>
        <a href="/dashboard/<%= locals.user.username %>" class="header__button" aria-label="Dashboard">Dashboard</a>
        <% } else { %>
        <a href="/auth/login" class="header__button" aria-label="Login">Login</a>
        <% } %>
    </nav>
</header>