<div class="search">
    <form action="/search" method="POST" class="search__form" role="search">
        <label class="search__label">
            <span class="screenreader">Search</span>
            <input
                type="search"
                name="search"
                aria-label="Seach"
                class="search__input"
                placeholder="Seach the site..."
            />
        </label>
    </form>
</div>
