<section class="dashboard">
    <nav class="dashboard__navigation">
        <ul class="dashboard__navigation__list">
            <li>
                <a class="navigation__list__link" href='/'>Home</a>
            </li>
            <li>
                <a class="navigation__list__link" href="/dashboard/<%= user.username %>/posts/new-post">New Post</a>
            </li>
            <li>
                <a class="navigation__list__link" href="/dashboard/<%= user.username %>/posts">List Posts</a>
            </li>
        </ul>
    </nav>

</section>