:root {
    --color-1: #00050f;
    --color-2: #23323d;
    --color-3: #476375;
    --color-4: #709eb6;
    --color-5: #9ee3ff;

    --color-6: #fafafa;

    --color-7: #dc2626;
    --color-8: #fca5a5;

    --color-9: #f7f7f7;
    --color-10: #e1e1e8;
    --color-11: #ccc;
    --color-12: #777;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-1: #9ee3ff;
        --color-2: #709eb6;
        --color-3: #476375;
        --color-4: #23323d;
        --color-5: #00050f;

        --color-6: #121212;

        --color-7: #b22222;
        --color-8: #e57373;

        --color-9: #777;
        --color-10: #ccc;
        --color-11: #e1e1e8;
        --color-12: #f7f7f7;
    }
}

html {
    font-size: 62.5%;
    font-family: "IBM Plex Mono", monospace;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--color-6);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.screenreader {
    position: absolute;
    width: 0.125rem;
    height: 0.125rem;
    padding: 0;
    margin: -0.125rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 96rem;
    width: 100%;
    margin: 2rem auto;
    padding-inline: 2rem;
}

.form__error-message {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    color: var(--color-7);
    margin-top: 1rem;
    cursor: default;
}

.form__error-message:hover {
    background-color: var(--color-1);
    color: var(--color-8);
}
