:root {
    --color-1: #00050f;
    --color-2: #23323d;
    --color-3: #476375;
    --color-4: #709eb6;
    --color-5: #9ee3ff;
}

html {
    font-size: 62.5%;
    font-family: monospace;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;

    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.screenreader {
    position: absolute;
    width: 0.125rem;
    height: 0.125rem;
    padding: 0;
    margin: -0.125rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    margin: 2rem auto;
    padding-inline: 2rem;
}
