.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__title::before {
    content: "█ ";
}

.form__title {
    font-size: 3.6rem;
    color: var(--color-1);
    margin-bottom: 2rem;
}

.form__fieldset-wrapper {
    padding: 1rem;
    border: 0.125rem solid var(--color-4);
    border-radius: 0.3rem;
}

.form__fieldset-wrapper > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    cursor: default;
}

.form__label:hover {
    background-color: var(--color-1);
    color: var(--color-5);
}

.form__input,
.form__textarea {
    width: 100%;
    padding: 0.75rem;
    border: 0.125rem solid var(--color-4);
    border-radius: 0.3rem;
    font-size: 1.4rem;
    color: var(--color-1);
    background-color: var(--color-6);
}

.form__textarea {
    resize: none;
}

.form__textarea::placeholder,
.form__input::placeholder {
    color: var(--color-3);
}

.form__textarea:focus,
.form__input:focus {
    border-color: var(--color-5);
    outline: none;
}

.form__submit {
    position: relative;
    background: var(--color-6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.125rem solid var(--color-1);
    border-radius: 0.3rem;
    color: var(--color-1);
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 0;
    padding: 2rem 4rem;
    text-align: left;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
}

.form__submit:hover:not(:disabled):hover {
    background-color: var(--color-1);
    color: var(--color-5);
    transform: scale(1.05);
}

.form__submit:active:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
}

.form__submit:focus {
    outline: 0 solid transparent;
}

.form__submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form__error-message {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    color: var(--color-7);
    margin-top: 1rem;
    cursor: default;
}

.form__error-message:hover {
    background-color: var(--color-1);
    color: var(--color-8);
}

.form__required {
    color: var(--color-7);
    font-size: 1.6rem;
}

.form__footer-description {
    margin-top: 1.5rem;
}

.form__link {
    color: var(--color-4);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    background-color: var(--color-1);
    color: var(--color-5);
    text-decoration: underline;
}
