.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
    margin-bottom: 2rem;
}

.form__title::before {
    content: "█ ";
}

.form__title {
    font-size: 3.6rem;
    color: var(--color-1);
    margin-bottom: 2rem;
}

.form__instructions {
    font-size: 1.6rem;
    color: var(--color-4);
}

.form__fieldset-wrapper {
    padding: 1rem;
    border: 0.125rem solid var(--color-4);
    border-radius: 0.3rem;
}

.form__fieldset-wrapper > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__group:not(:has(.form__subgroup)) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.form__group:has(.form__subgroup) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__subgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.form__subgroup-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    cursor: default;
}

.form__label:hover {
    background-color: var(--color-1);
    color: var(--color-5);
}

.form__input,
.form__textarea {
    width: 100%;
    padding: 1rem;
    border: 0.125rem solid var(--color-4);
    border-radius: 0.3rem;
    font-size: 1.4rem;
    color: var(--color-1);
    background-color: var(--color-6);
}

.form__textarea {
    resize: vertical;
    min-height: 25dvw;
}

.form__textarea__summary {
    resize: none;
    min-height: 5dvw;
}

.form__help {
    font-size: 1.2rem;
    color: var(--color-4);
}

.form__textarea::-webkit-input-placeholder, .form__input::-webkit-input-placeholder {
    color: var(--color-3);
}

.form__textarea::-moz-placeholder, .form__input::-moz-placeholder {
    color: var(--color-3);
}

.form__textarea:-ms-input-placeholder, .form__input:-ms-input-placeholder {
    color: var(--color-3);
}

.form__textarea::-ms-input-placeholder, .form__input::-ms-input-placeholder {
    color: var(--color-3);
}

.form__textarea::placeholder,
.form__input::placeholder {
    color: var(--color-3);
}

.form__textarea:focus,
.form__input:focus {
    border-color: var(--color-5);
    outline: none;
}

.form__submit,
.form__regular-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    background: var(--color-6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.125rem solid var(--color-1);
    border-radius: 0.3rem;
    color: var(--color-1);
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 4rem;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
            user-select: none;
    touch-action: manipulation;
    transition: transform 0.2s;
}

.form__submit:hover:not(:disabled):hover,
.form__regular-button:hover:not(:disabled):hover {
    background-color: var(--color-1);
    color: var(--color-5);
    transform: scale(1.05);
}

.form__submit:active:not(:disabled):hover:active,
.form__regular-button:active:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
}

.form__submit:focus,
.form__regular-button:focus {
    outline: 0 solid transparent;
}

.form__submit:disabled,
.form__regular-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.form__error-message {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    color: var(--color-7);
    margin-top: 1rem;
    cursor: default;
}

.form__error-message:hover {
    background-color: var(--color-1);
    color: var(--color-8);
}

.form__required {
    color: var(--color-7);
    font-size: 1.6rem;
}

.form__footer-description {
    margin-top: 1.5rem;
}

.form__link {
    color: var(--color-4);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    background-color: var(--color-1);
    color: var(--color-5);
    text-decoration: underline;
}

.post__preview__article::before {
    content: "█ Preview";
    font-size: 1.2rem;
    display: block;
    color: var(--color-1);
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.post__preview__article {
    padding: 1rem;
    border-radius: 0.3rem;
    border: 0.125rem solid var(--color-4);
}

.tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    text-align: left;
}

.tags__title {
    font-size: 1.4rem;
    color: var(--color-1);
    font-weight: 500;
}

.tags__list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    text-align: left;
}

.tags__item {
    display: inline-block;
    color: var(--color-1);
    font-size: 1.2rem;
    font-weight: 500;
}

.tags__item-total {
    color: var(--color-4);
    font-size: 1.2rem;
    font-weight: 600;
}
