.header {
    margin-bottom: auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 96rem;
    margin: 0 auto;
    padding: 2.4rem 2rem;
}

.header__logo {
    font-family: "JetBrains Mono", monospace;
    font-size: 2.8rem;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__sub::before,
.header__sub::after {
    content: "\2014";
    font-size: 2.4rem;
    color: var(--color-4);
}

.header__sub {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
}

#button-dashboardSmall {
    display: none;
}

.search__form {
    position: relative;
    display: block;
}

.search__label {
    position: absolute;
    top: -15%;
    left: 5%;
    font-size: 1.2rem;
    color: var(--color-4);
    background-color: var(--color-6);
    line-height: 1;
    padding: 0 0.5rem;
    cursor: default;
}

.header__button {
    position: relative;
    background: var(--color-6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.125rem solid var(--color-1);
    border-radius: 0.3rem;
    color: var(--color-1);
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 0;
    padding: 2rem 4rem;
    text-align: left;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
}

.header__button:not(:disabled):hover {
    background-color: var(--color-1);
    color: var(--color-5);
    transform: scale(1.05);
}

.header__button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
}

.header__button:focus {
    outline: 0 solid transparent;
}

.header__button:focus:before {
    content: "";
    left: calc(-1 * 0.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1 * 0.375rem);
    transition: border-radius;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header__button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.header__button:focus:not(:focus-visible):before {
    border-width: 0;
}

.header__button:not(:disabled):active {
    transform: translateY(0.125rem);
}

@media screen and (max-width: 600px) {
    .search__form {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 480px) {
    #button-dashboardBig {
        display: none;
    }
    #button-dashboardSmall {
        display: block;
    }
    .header__button {
        padding-inline: 2rem;
    }
}
