.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-1);
    color: var(--color-1);
    border-radius: 5px;
    font-size: 1.5rem;
}

.search__input::placeholder {
    color: var(--color-3);
}
