.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    border: 0.125rem solid var(--color-1);
    color: var(--color-1);
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.search__input::-webkit-input-placeholder {
    color: var(--color-3);
}

.search__input::-moz-placeholder {
    color: var(--color-3);
}

.search__input:-ms-input-placeholder {
    color: var(--color-3);
}

.search__input::-ms-input-placeholder {
    color: var(--color-3);
}

.search__input::placeholder {
    color: var(--color-3);
}

@media screen and (max-width: 600px) {
    .search__form {
        display: none;
        visibility: hidden;
    }
}
